In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
pd.options.display.float_format = '{:.4f}'.format
plt.style.use('seaborn-v0_8')

In [3]:
BA = pd.read_csv('boeing.csv', parse_dates=[0], index_col='Date')
BA

              Price
Date
2010-01-04  43.7776
2010-01-05  45.2114
2010-01-06  46.5828
2010-01-07  48.4686
2010-01-08  48.0010
...             ...
2020-12-23 219.6900
2020-12-24 217.1500
2020-12-28 216.0900
2020-12-29 216.2500
2020-12-30 216.6700

[2768 rows x 1 columns]

In [5]:
BA['LR'] = np.log(BA.Price / BA.Price.shift(1))
BA

              Price      LR
Date
2010-01-04  43.7776     NaN
2010-01-05  45.2114  0.0322
2010-01-06  46.5828  0.0299
2010-01-07  48.4686  0.0397
2010-01-08  48.0010 -0.0097
...             ...     ...
2020-12-23 219.6900  0.0042
2020-12-24 217.1500 -0.0116
2020-12-28 216.0900 -0.0049
2020-12-29 216.2500  0.0007
2020-12-30 216.6700  0.0019

[2768 rows x 2 columns]

In [7]:
np.exp(BA.LR.sum()) #Cumulative sum of log returns and converting to normalized prices

np.float64(4.949340028335567)

In [9]:
np.exp(BA.LR.mean() * 252) -1

np.float64(0.1567906208893135)

In [10]:
np.exp(BA.LR.cumsum())

Date
2010-01-04      NaN
2010-01-05   1.0328
2010-01-06   1.0641
2010-01-07   1.1072
2010-01-08   1.0965
              ...
2020-12-23   5.0183
2020-12-24   4.9603
2020-12-28   4.9361
2020-12-29   4.9397
2020-12-30   4.9493
Name: LR, Length: 2768, dtype: float64